@use "/src/components/App/vars.scss" as vars;

.mainHeader {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
  column-gap: 20px;
  row-gap: 10px;
  padding: 0 10px;
}

.header {
  color: vars.$dark;
  font-family: vars.$prim-font;
  text-align: center;
}
