@use "vars.scss" as vars;

.header {
  margin-top: 10px;
  text-align: center;
  color: vars.$dark;
  font-family: vars.$prim-font;
}

.form {
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;

  color: vars.$dark;
  font-family: vars.$sec-font;
}

.fields {
  display: grid;
  grid:
    "mark"
    "model"
    "registrationNumber"
    "productionYear"
    "numberOfSeats"
    "color"
    / 1fr;
  gap: 15px 30px;
}

.label {
  display: block;
}

.input {
  display: block;
  padding: 10px 15px;
  border-radius: 5px;
  border: 0;
  width: 100%;
  margin: 0 auto;
  margin-top: 5px;
  font-family: vars.$sec-font;
  color: vars.$dark;
}

.input::placeholder {
  font-family: vars.$sec-font;
  color: vars.$dark;
}

.error {
  font-family: vars.$sec-font;
  color: vars.$dark;
  color: red;
}

.mark {
  grid-area: mark;
}

.model {
  grid-area: model;
}

.registrationNumber {
  grid-area: registrationNumber;
}

.productionYear {
  grid-area: productionYear;
}

.numberOfSeats {
  grid-area: numberOfSeats;
}

.color {
  grid-area: color;
}

.buttons {
  margin-top: 20px;

  display: grid;
  grid:
    "submit ."
    / 1fr 1fr;
  gap: 15px 30px;
}

.submit {
  grid-area: submit;

  padding: 10px 15px;
  border-radius: 5px;
  border: 0;
  background-color: vars.$medium;

  color: vars.$white;
  font-family: vars.$sec-font;
}

@media screen and (min-width: 481px) {
  .fields {
    grid:
      "mark model"
      "registrationNumber productionYear"
      "numberOfSeats color"
      / 1fr 1fr;
  }
}

@media screen and (min-width: 769px) {
  .header {
    margin-top: 30px;
  }
}

@media screen and (min-width: 1201px) {
  .form {
    width: 60%;
  }
}
