@use "vars.scss" as vars;

.carsList {
  display: flex;
  align-items: center;
  flex-flow: column;

  margin-top: 20px;
}

.header {
  color: vars.$dark;
  font-family: vars.$prim-font;
}

.cards {
  display: flex;
  align-items: center;
  flex-flow: column;
}

.header {
  margin-top: 30px;
  color: vars.$dark;
  font-family: vars.$prim-font;
}
