@use "vars.scss" as vars;

.searchForm {
  display: flex;
  flex-flow: column;

  margin: 0 auto;
  margin-top: 10px;
  width: 350px;
  text-align: center;
}

.form {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.header {
  color: vars.$dark;
  font-family: vars.$prim-font;
}

.input {
  flex: 1 0 0;

  border-radius: 5px;
  border-end-end-radius: 0;
  border-start-end-radius: 0;
  border: 0;
  font-family: vars.$sec-font;
  color: vars.$dark;
  padding: 10px 0;
  padding-left: 10px;
  font-size: 1.1rem;
}

.input::placeholder {
  color: vars.$dark;
  font-size: 1.1rem;
}

.button {
  font-family: vars.$sec-font;
  color: vars.$white;
  padding: 10px;
  border-radius: 5px;
  border-start-start-radius: 0;
  border-end-start-radius: 0;
  border: 0;
  background-color: vars.$medium;
}

@media screen and (min-width: 769px) {
  .searchForm {
    margin-top: 30px;
  }
}
