@use "vars.scss" as vars;

.nav {
  background-color: vars.$medium;
  display: flex;
  flex-direction: row;
  height: 40px;
}

.navLeft {
  display: flex;
  flex-grow: 1;
  padding-left: 3%;
  justify-content: flex-start;
  align-items: center;
}

.navRight {
  position: relative;
  display: flex;
  flex-grow: 1;
  padding-right: 3%;
  justify-content: flex-end;
  align-items: center;
}

.icons {
  display: flex;
  align-items: center;
}

.links {
  display: none;
}

.links[data-iscollapsed="false"] {
  position: absolute;
  right: 0;
  top: 40px;
  display: flex;
  flex-direction: column;
  background-color: vars.$medium;
  row-gap: 10px;
  padding: 10px 20px;
}

.link {
  text-decoration: none;
  color: vars.$white;
  font-family: vars.$prim-font;
  font-size: 1.5rem;
}

.menuButton {
  background-color: inherit;
  border: none;
}

@media screen and (min-width: 769px) {
  .links[data-iscollapsed="false"] {
    position: static;
    background-color: transparent;
    padding: 0 0;
    flex-direction: row;
  }
  .links {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    align-items: center;
  }

  .menuButton {
    display: none;
  }
  .navLeft {
    padding-left: 17%;
  }

  .navRight {
    padding-right: 17%;
  }
}
