@use "vars.scss" as vars;

.ridesList {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
}

.header {
  margin-top: 30px;
  font-family: vars.$prim-font;
  color: vars.$dark;
  text-align: center;
}
