@use "vars.scss" as vars;

.header {
  margin-top: 10px;
  text-align: center;
  color: vars.$dark;
  font-family: vars.$prim-font;
}

.form {
  display: grid;
  grid:
    "startLocation"
    "endLocation"
    "startDateAndTime"
    "car"
    "availableSeats"
    "price"
    "button"
    / 1fr;
  gap: 15px 30px;

  width: 80%;
  margin: 0 auto;
  margin-top: 20px;

  font-family: vars.$sec-font;
  color: vars.$dark;
}

.label {
  display: block;
}

.input {
  display: block;
  padding: 10px 15px;
  border-radius: 5px;
  border: 0;
  width: 100%;
  margin-top: 5px;
  font-family: vars.$sec-font;
  color: vars.$dark;
}

.input::placeholder {
  font-family: vars.$sec-font;
  color: vars.$dark;
}

.error {
  font-family: vars.$sec-font;
  color: vars.$dark;
  color: red;
}

.startLocation {
  grid-area: startLocation;
}

.endLocation {
  grid-area: endLocation;
}

.startDateAndTime {
  grid-area: startDateAndTime;
}

.car {
  grid-area: car;
}

.availableSeats {
  grid-area: availableSeats;
}

.price {
  grid-area: price;
}

.button {
  grid-area: button;

  color: vars.$white;
  margin-top: 20px;
  padding: 10px 0;
  border-radius: 5px;
  border: 0;
  background-color: vars.$medium;
}

@media screen and (min-width: 481px) {
  .form {
    grid:
      "startLocation endLocation"
      "startDateAndTime price"
      "car availableSeats"
      "button ."
      / 1fr 1fr;
  }
}

@media screen and (min-width: 769px) {
  .header {
    margin-top: 30px;
  }
}

@media screen and (min-width: 1201px) {
  .form {
    width: 60%;
  }
}
