@use "vars.scss";

.ride {
  display: grid;
  grid:
    "start" 35px
    "end" 35px
    "date" 35px
    "time" 35px
    "driver" 35px
    "price" 35px
    / 1fr 1fr;

  row-gap: 15px;

  color: vars.$dark;
  font-family: vars.$prim-font;
  font-size: 1.2rem;

  background-color: vars.$white;

  margin: 10px 10%;
  border-radius: 5px;
  border: 0;
  padding: 20px;
}

.ride > div {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.start {
  grid-area: start;
}

.end {
  grid-area: end;
}

.date {
  grid-area: date;
}

.time {
  grid-area: time;
}

.driver {
  grid-area: driver;
}

.price {
  grid-area: price;
}

@media screen and (min-width: 481px) {
  .ride {
    grid:
      "start date" 35px
      "end time" 35px
      "driver price" 35px
      / 1fr 1fr;
  }
}

@media screen and (min-width: 1025px) {
  .ride {
    grid:
      "start date driver" 35px
      "end time price" 35px
      / 1fr 1fr 1fr;
  }
}
