@use "vars.scss";

.form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
}

.top {
  margin: 20px auto;
}

.header {
  color: vars.$dark;
  font-family: vars.$prim-font;
}

.label {
  font-family: vars.$sec-font;
  color: vars.$dark;
  margin-top: 15px;
}

.input {
  width: 100%;
  border-radius: 5px;
  border: 0;
  font-family: vars.$sec-font;
  color: vars.$dark;
  padding: 10px 15px;
  background-color: white;
}

.input::placeholder {
  font-family: vars.$sec-font;
  color: vars.$dark;
}

.error {
  font-family: vars.$sec-font;
  color: vars.$dark;
  color: red;
}

.button {
  font-family: vars.$sec-font;
  color: vars.$white;
  margin-top: 15px;
  padding: 10px 15px;
  border-radius: 5px;
  border: 0;
  background-color: vars.$medium;
}

@media screen and (min-width: 769px) {
  .form {
    width: 50%;
    margin: 0 auto;
    margin-top: 30px;
  }
}
