@use "vars.scss" as vars;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body > div {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

button:hover {
  cursor: pointer;
}

.main {
  background-color: vars.$light;
  flex-grow: 1;
  padding-bottom: 20px;
}

@media screen and (min-width: 769px) {
  .main {
    margin: 0 15%;
  }
}
