@use "/src/components/App/vars.scss" as vars;

.ride {
  width: 80%;
  margin: 0 auto;
}

.rideDetails {
  display: grid;
  grid:
    auto-flow
    / 1fr;
  gap: 15px 30px;

  margin: 0 auto;
  margin-top: 20px;
  font-family: vars.$sec-font;
  color: vars.$dark;
}

.rideDetails > div {
  background-color: vars.$white;
  border-radius: 5px;
  padding: 10px;
}

.header {
  text-align: center;
  margin-top: 10px;
  font-family: vars.$prim-font;
  color: vars.$dark;
}

.value {
  font-size: 1.1rem;
}

.value > a {
  text-decoration: none;
  font-family: vars.$prim-font;
  color: vars.$dark;
}

.buttons {
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
  column-gap: 30px;
}

.button {
  flex: 1 0 0;
  background-color: vars.$medium;
  border: none;
  color: vars.$white;
  font-family: vars.$sec-font;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
}

.passengers {
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  column-gap: 15px;
  justify-content: center;
}

.passenger {
  background-color: vars.$white;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  font-family: vars.$sec-font;
  color: vars.$dark;
}

.chat {
  display: flex;
  flex-direction: column;

  margin-top: 10px;
}

.messages {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.message {
  display: grid;
  grid:
    "user date" auto
    "text text" / 1fr 1fr;

  background-color: vars.$white;
  border-radius: 5px;
  padding: 10px;
  font-family: vars.$sec-font;
  color: vars.$dark;
}

.user {
  grid-area: user;
}

.date {
  grid-area: date;
  justify-self: end;
}

.text {
  grid-area: text;
}

.writeMessage {
  display: flex;
  flex-direction: column;
  row-gap: 10px;

  margin-top: 30px;
}

.label {
  display: block;
}

.input {
  display: block;
  padding: 10px 15px;
  border-radius: 5px;
  border: 0;
  width: 100%;
  margin-top: 5px;
  font-family: vars.$sec-font;
  color: vars.$dark;
}

.input::placeholder {
  font-family: vars.$sec-font;
  color: vars.$dark;
}

.error {
  font-family: vars.$sec-font;
  color: vars.$dark;
  color: red;
}

@media screen and (min-width: 481px) {
  .rideDetails {
    grid:
      auto-flow
      / 1fr 1fr;
  }
}

@media screen and (min-width: 769px) {
  .rideDetails > div {
    padding: 10px 20px;
  }

  .header {
    margin-top: 30px;
  }
}

@media screen and (min-width: 1201px) {
  .ride {
    width: 50%;
  }
}
